[submodule "kobuss"]
	path = kobuss
	url = git@github.com:KoBussLLC/grabert-hardware.git
	branch = main
[submodule "Apollo87H"]
	path = Apollo87H
	url = git@github.com:AcheronProject/Apollo87H.git
	branch = main
[submodule "AlexandriaLibrary"]
	path = AlexandriaLibrary
	url = git@github.com:AcheronProject/AlexandriaLibrary.git
[submodule "kobuss-kicad-library"]
	path = kobuss-kicad-library
	url = git@github.com:KoBussLLC/kobuss-kicad-library.git
	branch = main
[submodule "acheron_MountingHoles.pretty"]
	path = acheron_MountingHoles.pretty
	url = git@github.com:AcheronProject/acheron_MountingHoles.pretty.git
[submodule "acheron_Connectors.pretty"]
	path = acheron_Connectors.pretty
	url = git@github.com:AcheronProject/acheron_Connectors.pretty.git
[submodule "Athena"]
	path = Athena
	url = git@github.com:AcheronProject/Athena.git
	branch = main
[submodule "acheron_Hardware.pretty"]
	path = acheron_Hardware.pretty
	url = git@github.com:AcheronProject/acheron_Hardware.pretty.git
